.right{
	text-align: right;
}

.navbar{
	background-color:black;
}


.navbar .nav > li > a{
	color: white;
}

.navbar .navbar-brand{
	color: white;
}

.leftBar{
	min-height: 150px;
	width: 68%;
}

img.smaller{
	width:120px;
	height:90px;
}

#dropdown{
	text-align:left;
}

.wider{
	width:100%;
}
