img.profilePic{
	width:171px;
	height:132px;
}

.rel{
	position: relative;
}

.middleItems{
	margin: 0 auto;
	width: 100%;

}

.icons{
	display:block;
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}

a{
	color: #000;
}