Welcome to SlyStyles

<div class = "form-group">
	<form action="/login" enctype="multipart/form-data" method="get">
		User:
		<input type="text" class="upload-form form-control" id="user" name="user"> <br>
		Login:
		<input type="password" class="upload-form form-control" id="password" name="password"> <br>
		<input type="submit" class="upload-form form-control" value="Log In">
	</form>

</div>