<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Playfair+Display:400italic|Unna' rel='stylesheet' type='text/css'>



</head>

<body>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<div id="banner" style="height: 200px; display: block;">
		<div class="frontpage" style="background-image: url(http://i58.tinypic.com/ip2oav.jpg); left: 0px; top: 0px;">
		</div>
	</div>

	<div class="instructions">
		<div class="content"> 
			<h1>HOW IT WORKS:</h1>
			<p><img src="http://i61.tinypic.com/2u9pemh.jpg">Upload a picture of a piece of clothing that you want the community to help you find a substitute for.</p></img>
			<p><img src="http://i58.tinypic.com/xcn7uv.jpg">Check back to see what options Fashion Cents users have posted for your uploads.</p>
			<p><img src="http://i62.tinypic.com/2n8vt4k.jpg">Celebrate! Give back to the community by finding substitutes for others.</p>
			
		</div>
	</div>



	<div class="container">
		<div class = "form-group">
			<h1>LOGIN:</h1>
			<form action="/login" enctype="multipart/form-data" method="get">
				<input type="text" class="upload-form form-control" id="user" name="user" placeholder="username"> <br>
				<input type="password" class="upload-form form-control" id="password" name="password" placeholder="password"> <br>
				<input type="submit" class="upload-form form-control" value="SUBMIT" id="login">
			</form>
			<a href="/loginGuest" class="btn btn-primary" id="try-button">TRY IT OUT </a>
		</div>	
		<br>
		<a href="/createAccount"><h1>REGISTER</h1></a>
		
	</div>

	<script>
		/*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//production version
		ga('create', 'UA-48670740-1', 'slystyles.herokuapp.com');
		//testing version
		//ga('create', 'UA-48670740-1', { 'cookieDomain': 'none'});
		
		ga('send', 'pageview');*/
	</script>
</body>
</html>