<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
</head>

<body style="padding-top:70px">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script type='text/javascript' src='/js/navbar.js'></script>

	<div class = "container rel">
		<div class = "personal">
			<table class="wider">
				<tr >
					<td>
						<img class="profilePic" src = "/images/lindsey.jpg"></img>
					</td>
					<td>
						<ul class="nav navbar-nav navbar-right"  id="dropdown" >
							<li>
								<h3>Lindsey</h3>
							</li>
							<li>
								I am a fashion junkie. 
							</li>

						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<hr>
	<div class = "container icons">
		<table class ="middleItems">
			<tr>
				<td>
					<p><a href="/likes.html"><i class="fa fa-heart fa-5x"></i></a></p>
					Likes
				</td>
				<td>
					<p><a href="/matches.html"><i class="fa fa-thumbs-up fa-5x"></i></a></p> My Contributions
				</td>
			</tr>
		</table>
	</div>

	
</body>

</html>
