<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
	<link href="/css/mymatchesmade.css" rel="stylesheet">
</head>

<body style="padding-top:70px">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script type='text/javascript' src='/js/navbar.js'></script>
	
	<a href="/profile" target="_self"><i class="fa fa-arrow-left fa-2x"></i>&nbsp; Profile</a>
	<h1>Settings</h1>
	<!-- TODO nav links to proper pages as per nav layout in Drive -->

</body>
</html>
