.right{
	text-align: right;
}

.navbar{
	font-family: 'Playfair Display', serif;

}

.search{
	width:100%;
}


.navbar .nav > li > a{
	font-size: 20px;
	color:#efefef !important;
	font-weight: 100;
}

.navbar-inner {
  background-color: #313036;
  background-image: none;
  background-repeat: no-repeat;

  filter: none;
}

.navbar .navbar-brand{
	font-family:'Playfair Display', serif;
	font-weight: 100;
	font-size: 20px;
	color:#efefef;
}

.leftBar{
	min-height: 150px;
	width: 68%;
}

img.smaller{
	width:120px;
	height:90px;
}

#dropdown{
	text-align:left;
}

.wider{
	width:100%;
}

