.right{
	text-align: right;
}

.navbar{
	font-family: 'Playfair Display', serif;
}


.navbar .nav > li > a{
	
}

.navbar .navbar-brand{
	
}

.leftBar{
	min-height: 150px;
	width: 68%;
}

img.smaller{
	width:120px;
	height:90px;
}

#dropdown{
	text-align:left;
}

.wider{
	width:100%;
}

#top{
	position:absolute;
}
