img.profilePic{
	
}

.rel{
	position: relative;
}

.middleItems{
	margin: 0 auto;
	width: 100%;

}

.icons{
	display:block;
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}

a{
	color: #000;
}

.non-selected{
	color: #C8C8C8;
}

.container .col-xs-6{
	padding: 20px;
}