/*!
 * SlyStyles CSS
 */

 body{
 	background-color: #E5E8F1;
 }

 .container h1, h3, h2{
 	font-family: 'Playfair Display', serif;

 }

 .container .form-control{
 	border-radius:0px;
 }

 .container button.btn.btn-primary{
 	border-radius:0px;
 	background-image: none;
 	background-color: #313036;
 	font-family: 'Lato', serif;
 }

 .italic{
 	font-style:italic;
 }

 .check{
 	display: inline;
 }

 .red{
 	color:red;
 }

.input-group input{
	display:inline;
}

.front-search{
	display:inline;
}


div.designer-thumbnail.thumbnail {
	border-radius: 0px;
	border-style:solid;
	border-color:#808288;
	border-width:2px;
}

div.caption{
	background-color:rgba(0, 0, 0, 0.5);
}

.italic{

}

.caption a, h3, h4, h5, p{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #E5E8F1;
}

.front-table{
	width: 100%;
}

.front-like{
	text-align:right;
}

.designer-item-feed {

}

.designer-item-title {

}

.designer-item {

}

.designer-item .price {
	text-align: right;
}

.designer-item .brand {
	font-weight: bold;
}

/* class for the abstract idea of a list of
 * alternative items, the sorting options
 * and the actual items themselves.
 */
.alternative-item-list {

}

/* The actual grid of alternative item
 * thumbnails.
 */
.alternative-item-grid {

}

.alternative-item-grid thumbnail {
	
}

/* For a bar/horizontal box that holds buttons
 * like a 'sort by: <buttons>' bar
 */
.button-bar {

}

.center{
	margin-left:auto;
	margin-right:auto;
}

.liked{
	color:#ff0000;
}


.unliked{
	color:#000000;
}

.item-name {
	/*float: left;
	*/
}

.item-brand {
	/*float: left;
	*/
}

.item-price {
	/*float: left;
	*/
}