/*!
 * SlyStyles CSS
 */


 body{
 	background-color: #E5E8F1;
 }

 .button-bar{
 	display:table;
 	width: 100%;
 }


div>h3.fancy{
	font-family: 'Playfair Display', serif;
}

a>h5{
	font-weight:normal;
}

.col-xs-6>.thumbnail{
	border-radius:0px;
	border-color:#313036;
	border-width:1px;
}

 .btn-litetype{
 	width: 32.6%;
 	background-color:#FFFFFF;
 	background-image:none;
 	border-style:solid;
 	border-color:#313036;
 	display:table-cell;
 	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	display:inline-table;
	text-align:center; 

 }

 .navbar-header, .navbar-nav a{
 	font-family: 'Playfair Display', serif;
 }

 .container h1, h3, h2, h4{
 	font-family: 'Playfair Display', serif;

 }

 .container input, .input-group .upload-form, .form-control{
 	font-family: 'Lato', sans-serif;
	border-style:solid;
	border-color:#808288;
	border-width:2px;
	border-radius:0px;
 }

 #tags{
 	display:inline;
 }

 form{
 	font-family: 'Lato', sans-serif;
 	color: #313036;
 }


.modal-body, .modal-header{
	background-color: #E5E8F1;
}

.validator{
	
	border-radius:0px;
	background-color:#ffffff;
	border-width:2px;
	border-color:#808288;
}


.wrong{
	color:red;
}

.right{
	color:green;
}

#myModalLabel{
	text-align: center;
	color: #313036;
	font-family: 'Playfair Display', serif;
	font-style:italic;
	font-size:24px;
}
/*
 #searchBtn{
 	position: absolute;
 	left:-9999px;
 }
 */

 .playfair{
 	font-family: 'Playfair Display', serif;
 }




 table input .form-control{
 	display:inline-block;
 	position:static;
 }


 .container .form-control{
 	border-radius:0px;
 		float: left;
 }

 .container button.btn.btn-primary{
 	border-radius:0px;
 	background-image: none;
 	background-color: #313036;
 	font-family: 'Lato', serif;
 }

 .container button.btn{
 	position: static;
 	border-radius: 0px;
 	border-style: solid;
 	border-width: 1px;
 	border-color: #808288;
 	background-image: none;
 	background-color: #313036;
 	font-family: 'Lato', serif;
 	color:#FFFFFF;
 	text-shadow: none;
 }

 .italic{
 	font-style:italic;
 	color:#333;
 }

 .check{
 	display: inline;
 	color: #333;
 }

 .red{
 	color:red;
 }

.input-group input{
	display:inline;
}

.front-search{
	display:inline;
}


div.designer-thumbnail.thumbnail {
	border-radius: 0px;
	border-style:solid;
	border-color:#808288;
	border-width:2px;
}

div.caption{
	background-color:rgba(0, 0, 0, 0.5);
}


.blacklato{
	color:#313036;
	font-family: "Lato", sans-serif;
}

.blackplayfair{
	color:#313036;
	font-family: "Playfair Display", serif;
	text-align:center;
	font-style:italic;
}

.caption a, h3, h4, h5, p{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #E5E8F1;
}

.caption h3 .italic{
	color: #333;
}

div .no-padding {
	padding:0;
}

.full-width{
	color:#E5E8F1;
	width:100%;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	display:block;
	text-align:center;
}

.front-table{
	width: 100%;
}


.front-like{
	text-align:right;
}



.designer-item-feed {

}

.designer-item-title {

}

.designer-item {

}

.designer-item .price, .alternative-item .price {
	text-align: right;
	font-size:28px;
	font-family: "Lato", sans-serif;
}

.designer-item .brand, .alternative-item .brand {
	font-size:14px;
	font-family: "Lato", sans-serif;
}

/* class for the abstract idea of a list of
 * alternative items, the sorting options
 * and the actual items themselves.
 */
.alternative-item-list {

}

/* The actual grid of alternative item
 * thumbnails.
 */
.alternative-item-grid {

}

.alternative-item-grid thumbnail {
	
}

/* For a bar/horizontal box that holds buttons
 * like a 'sort by: <buttons>' bar
 */
.button-bar {

}

.center{
	margin-left:auto;
	margin-right:auto;
}

.liked{
	color:#ff0000;
}



.unliked{
	color:#000000;
}

.item-name, .item-brand, .item-price {
	margin-top:5px;
	margin-bottom:5px;
}

.caption-alt td, h5{
	padding:0;
}

.thumbnail .caption-profile, .thumbnail .caption{
	font-family: 'Lato', sans-serif;
	font-size:16px;
	font-weight:300;
	color:#E5E8F1;
	padding-top:3px;
	padding-bottom:3px;
}
