/*!
 * SlyStyles CSS
 */


.designer-thumbnail {
}

.designer-item-feed {

}

.designer-item-title {

}

.designer-item {

}

.designer-item .price {
	text-align: right;
}

.designer-item .brand {
	font-weight: bold;
}

/* class for the abstract idea of a list of
 * alternative items, the sorting options
 * and the actual items themselves.
 */
.alternative-item-list {

}

/* The actual grid of alternative item
 * thumbnails.
 */
.alternative-item-grid {

}

.alternative-item-grid thumbnail {
	
}

/* For a bar/horizontal box that holds buttons
 * like a 'sort by: <buttons>' bar
 */
.button-bar {

}

.center{
	margin-left:auto;
	margin-right:auto;
}

.liked{
	color:#ff0000;
}

.unliked{
	color:#000000;
}
